services:
  - type: web
    name: expense-tracker
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn catogorizer.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: expense-tracker-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false

databases:
  - name: expense-tracker-db
    databaseName: expense_tracker
    user: expense_user